set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

set number relativenumber
set NERDTree
set surround
set scrolloff=8
set clipboard+=unnamed
set ideajoin
set multiple-cursor

let mapleader = " "

" move line
nnoremap <C-j> :m +1<CR>
nnoremap <C-k> :m -2<CR>
inoremap <C-j> <Esc>:m +1<CR>gi
inoremap <C-k> <Esc>:m -2<CR>gi

" git push/pull
nmap <leader>gp :action Git.Pull<cr>
nmap <leader>gu :action Git.Push<cr>

" shortcut for search file
nnoremap <leader>pf :action GotoFile<CR>

" Tabs
nnoremap <A-j> :action PreviousTab<cr>
nnoremap <A-k> :action NextTab<cr>

" jk as <ESC>
inoremap <jk> :action <ESC>
